<% @pageTitle = "|| Posts~Index" %>

<% @posts.each do |posts| %>
    <div class="seriesBox">
      <h1><%= posts.title %></h1>
      <h3><%= posts.caption %></h3>
      <ul>
        <li>
          <h2><%= link_to 'Show', {:action => 'show', :id => posts.id} %></h2>
        </li>
        <li>
          <h2><%= link_to 'Edit', {:action => 'edit', :id => posts.id} %></h2>
        </li>
        <li>
          <h2><%= link_to 'Delete', {:action => 'delete', :id => posts.id} %></h2>
        </li>
      </ul>
    </div>
<% end %>

