<div class="showBlock">
  <h3><%= link_to '--Back To Index--', posts_index_url %></h3>

  <h1><a href="<%= @post.url %>"><%= @post.title %></a></h1>
  <h2>Written By: <%= @post.author %></h2>
  <h3>Caption:</br><%= @post.caption %></h3>
  <p><%= @post.body %></p>
  <p>Posted: <%= @post.created_at %>

  <h3><%= link_to "Delete", {:action => 'delete', :id => @post.id}, :class => 'delete-link'  %></h3>
</div>


